<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<style>
    /* * {
           margin: 0;
           box-sizing: border-box;
           font-family: HelveticaNeue, Helvetica, sans-serif;
      } */
    .nav {
        color: white;
    }

    .nav__trigger-finger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 20;
        display: flex;
        align-items: center;
        width: 25px;
        height: 20px;
        margin-top: 80px;
        margin-right: 50px;
        color: indigo;
        border: slateblue 10px;
    }

    .nav__trigger-finger::before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        bottom: -5px;
        right: -5px;
        background: indigo;
        opacity: 0;
        z-index: -1;
        transition: opacity 0.3s cubic-bezier(0.75, 0, 0.25, 1);
    }

    .nav__trigger-finger span {
        display: block;
        width: 100%;
        height: 2px;
        transition: transform 1s cubic-bezier(0.75, 0, 0.25, 1);
        background: currentColor;
    }

    .nav__trigger-finger span::before,
    .nav__trigger-finger span::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        height: 2px;
        background: currentColor;
        transition: transform 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
    }

    .nav__trigger-finger span::before {
        top: 0;
    }

    .nav__trigger-finger span::after {
        top: calc(100% - 2px);
    }

    .nav__trigger-input,
    .nav__submenu-trigger-input {
        opacity: 0;
        width: 0;
        height: 0;
        appearance: none;
        position: fixed;
    }

    .nav__trigger-input:focus+label {
        color: white;
    }

    .nav__trigger-input:focus+label::before {
        opacity: 1;
    }

    .nav__trigger-input:checked+label {
        height: 10px;
        color: white;
    }

    .nav__trigger-input:checked+label span {
        transform: rotate(45deg);
    }

    .nav__trigger-input:checked+label span::before,
    .nav__trigger-input:checked+label span::after {
        top: calc(50% - 1px);
        transition: transform 0.4s 0.4s cubic-bezier(0.75, 0, 0.25, 1), top 0.4s cubic-bezier(0.75, 0, 0.25, 1), background 0.2s cubic-bezier(0.75, 0, 0.25, 1);
    }

    .nav__trigger-input:checked+label span::after {
        transform: rotate(90deg);
    }

    .nav__trigger-input:checked~ul {
        z-index: 9;
        transform: none;
        transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
    }

    .nav__list {
        position: fixed;
        /* overflow-y: scroll; */
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        background: indigo;
        font-size: 30px;
        padding: 20px;
        transform: translate(50vw) rotate(45deg);
        transition: 0.2s cubic-bezier(0.5, 0, 0.25, 1);
    }

    .nav__item {
        list-style: none;
    }

    .nav__item+.nav__item {
        margin-top: 20px;
    }

    .nav__submenu-trigger-input:checked+label::after {
        transform: translateY(10px);
    }

    .nav__submenu-trigger-input:checked~ul {
        display: block;
    }

    .nav__submenu-trigger-input:focus+label::after {
        transform: translateY(5px);
    }

    .nav__submenu-trigger-finger::after {
        content: '';
        display: inline-block;
        border: 10px solid transparent;
        border-top-color: white;
        transition: 0.4s cubic-bezier(0.5, 0, 0.25, 1);
    }

    .nav__link {
        text-decoration: none;
        color: inherit;
    }

    .nav__list-child {
        display: none;
        font-size: 20px;
        margin-top: 10px;
        padding-left: 20px;
    }
</style>
<style>
    body {
        background-color: #000;
        margin: 0;
        overflow: hidden;
        padding: 0;
        /* color: #8000ff; */
    }

    .screen {
        animation: colorPulse 5s infinite ease-in-out;
        background-image: radial-gradient(#444, #111);
        box-shadow: 0 0 5vmin 1vmin #000 inset;
        box-sizing: border-box;
        /* font-family:'Fira Mono', monospace; */
        /* font-size:20px; */
        height: 100vh;
        overflow: hidden;
        padding: 10vmin;
        width: 100vw;
        color: #8000ff;
    }

    .screen:before {
        animation: wave 10s infinite ease-in-out;
        content: "";
        height: 20vh;
        left: 0;
        opacity: .5;
        position: absolute;
        right: 0;
        z-index: 1;
    }

    .screen:after {
        background-image: linear-gradient(transparent, transparent 3px, #222);
        background-size: 4px 4px;
        bottom: 0;
        content: "";
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    p:last-child:after {
        animation: blink 1s infinite;
        content: "_";
    }

    @keyframes colorPulse {

        0%,
        100% {
            color: #9845cc;
        }

        48%,
        52% {
            color: #b342fa;
        }

        50% {
            color: #9D00FF;
        }
    }

    @keyframes wave {
        0% {
            box-shadow: 0 -10vh 20vh #0c0;
            top: -100vh;
        }

        48%,
        52% {
            box-shadow: 0 -10vh 20vh #090;
        }

        50% {
            box-shadow: 0 -10vh 20vh #060;
        }

        100% {
            box-shadow: 0 -10vh 20vh #0c0;
            top: 200vh;
        }
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }

    /* @font-face {
        font-family: 'Press Start 2p';
      } */

    body {
        background-color: black;
        font-size: 30pt;
        font-family: 'Press Start 2p';
    }

    .start-btn {
        text-align: center;
        display: inline-block;
        margin: 5px;
        font-weight: bold;
        padding: 10px 0 10px 10px;
        background-color: lightgray;
        text-shadow: -1px -1px black, 1px 1px white;
        color: gray;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -o-border-radius: 7px;
        border-radius: 7px;
        box-shadow: 0 .2em gray;
        cursor: pointer;

    }
</style>

<style>
    .neonText {
        color: #fff;
        text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #bc13fe,
            0 0 82px #bc13fe,
            0 0 92px #bc13fe,
            0 0 102px #bc13fe,
            0 0 151px #bc13fe;
    }

    /* body {
        font-size: 18px;
        font-family: "Sacramento", sans-serif;
        background-color: #010a01;
        display: flex;
        justify-content: center;
        align-items: center;  
      }   */

    h1,
    h2 {
        text-align: center;
        font-weight: 400;
    }

    h1 {
        font-size: 6.2rem;
        animation: pulsate 1.5s infinite alternate;
        border: 0.2rem solid #fff;
        border-radius: 2rem;
        padding: 0.4em;
        box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe;
    }

    @keyframes pulsate {

        100% {

            text-shadow:
                0 0 4px #fff,
                0 0 11px #fff,
                0 0 19px #fff,
                0 0 40px #bc13fe,
                0 0 80px #bc13fe,
                0 0 90px #bc13fe,
                0 0 100px #bc13fe,
                0 0 150px #bc13fe;

        }
    }

    .neonSign {
        font-size: 3rem;
        font-weight: 100;
        color: hotviolet;
        text-shadow:
            0 0 10px #333,
            0 0 15px #f0a,
            0 0 20px purple;
    }
</style>
<script src="js/script.js"></script>

<body onload="set_last_task()">



    <script>
        function start_from_beining() {
            document.getElementById("here").innerHTML = 1;
            document.getElementById("scorehere").innerHTML = 0;
            localStorage.setItem('current_task_num', 1);
            localStorage.setItem('current_scores', 0);
            localStorage.setItem('current_task_num', 1);
            localStorage.setItem('current_scores', 0);
            get_current_task();
        }
        function set_last_task() {
            /// <!-- SECOND PAGE -->
            const greetingValue = localStorage.getItem('last_task_num');
            const last_score = localStorage.getItem('last_scores');
            // alert("last "+greetingValue);
            document.getElementById("here").innerHTML = greetingValue;
            document.getElementById("scorehere").innerHTML = last_score;
            //location.replace("file:///C:/Users/garim/OneDrive/Desktop/tron_website/quests_style.html")
            //get_content(greetingValue);
            return greetingValue;
        }

        function get_current_task() {

            task_num = document.getElementById("here").innerHTML;
            score = document.getElementById("scorehere").innerHTML;

            if (parseInt(task_num) == 1) {

                localStorage.setItem('current_task_num', task_num);
                localStorage.setItem('current_scores', score);
                // alert(score)
                // alert(task_num)
                location.replace("/quest")
            }
            else if (parseInt(task_num) == 8) {
                alert("congrats ....you are done with the quests. \n if you want start again click on start from beiinhg button in the dashboard")
            }
            else {
                // alert(task_num);

                localStorage.setItem('current_task_num', task_num);
                localStorage.setItem('current_scores', score);
                // alert(score)
                //     alert(task_num)
                location.replace("/quests");
            }


        }
    </script>
    <script>
        const image_input = document.querySelector("#image-input");

        image_input.addEventListener("change", function () {
            const reader = new FileReader();
            reader.addEventListener("load", () => {
                const uploaded_image = reader.result;
                document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
            });
            reader.readAsDataURL(this.files[0]);
        });
    </script>




    <!-- <button onclick="get_last_task();" >
          resume
      </button> -->


    <!-- partial:index.partial.html -->

    <!-- partial -->
    <script>
        function handleImageUpload() {

            var image = document.getElementById("upload").files[0];

            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("display-image").src = e.target.result;
            }
            reader.readAsDataURL(image);

        }
    </script>





    <div class="screen">
        <img src="img/coins.gif"
            style="width: 20px; height: 20px; margin-left:5px;display:inline-block;margin-right:4px;"><img>
        <div id="scorehere" title="your scores"
            style="font-family:'Fira Mono', monospace; font-size:20px;display:inline-block;margin-right:10px;">0</div>
        <img src="img/quest.gif" style="width: 20px; height: 20px;margin-right:4px "><img>
        <div id="here" title="your level"
            style="font-family:'Fira Mono', monospace; font-size:20px; display:inline-block;margin-right:10px;">1</div>
        <img src="img/tron_logo.png"
            style=" margin-top:-70px;font-size:18px; align-content: center; display:inline-block;margin-left:36%;height:120px;width: 100px; vertical-align: middle;"><img>

        <nav class="nav"
            style="font-family:'Fira Mono', monospace; font-size:18px;display:inline-block;margin-right:10px;">
            <input class="nav__trigger-input" type="checkbox" id="trigger" aria-label="open the navigation" />
            <label class="nav__trigger-finger" for="trigger">
                <span></span>
            </label>
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#hoi" class="nav__link">
                        <span class="nav__text">
                            Update Info
                        </span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#hoi" class="nav__link">
                        <span class="nav__text" onclick="openAvatar()">
                            Create avatar
                        </span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#hoi" class="nav__link">
                        <span class="nav__text">
                            About The App
                        </span>
                    </a>
                    <input class="nav__submenu-trigger-input" type="checkbox" id="submenu-trigger" />
                    <label class="nav__submenu-trigger-finger" for="submenu-trigger"></label>
                    <ul class="nav__list-child">
                        <li class="nav__item">
                            <a href="#hoi" class="nav__link">
                                <span class="nav__text">
                                    References
                                </span>
                            </a>
                        </li>
                        <li class="nav__item">
                            <a href="#hoi" class="nav__link">
                                <span class="nav__text">
                                    Creaters
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav__item">
                    <a href="/book.html" class="nav__link">
                        <span class="nav__text">
                            Book
                        </span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/logout" class="nav__link">
                        <span class="nav__text">
                            Log out
                        </span>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- <span class='video-game-button' onclick="openForm()" ><img src="chatbot.gif" style="height: 50px;width: 50px;"></img></span>  -->
        <script>
            function openAvatar() {
                var myWindow = window.open("index.html", "", "width=500,height=1000");
            }
        </script>



        <div style="
          /* margin-top: 5%; */
          /* margin-bottom: 5%; */
          margin-right:30px;  
          border-radius: 25px;
          border: 2px solid indigo;
          padding: 20px; 
          width: 100%;
          height: 50px;  
        "> <span class="neonText">DASHBOARD</span>
            <div style="margin-right: 0px; margin-left: auto; float: right;">
                <input id="upload" type="file" onChange="handleImageUpload()"
                    style="margin-right: -50px; margin-left: auto; ">
                <img id="display-image" src="img/avatar.png" style="margin-right: 20px; margin-left: auto;" />
            </div>
        </div>


        <!-- <span class='video-game-button'>A</span>
      <span class='video-game-button'>B</span>   -->
        <p style="text-align:right ;font-family:'Fira Mono', monospace; font-size:20px;">
            <%= locals.user ? user : "User" %> is logged in!
        </p>

        <button style="font-family:'Fira Mono', monospace; font-size:20px;"
            onclick="location.href='Chapter1/index.html'">Story line</button>
        <table style="width:100%">
            <tr>
                <td>
                    <p style="font-family:'Fira Mono', monospace; font-size:20px;"> start form the beginning by clicking
                        below</p>
                </td>
                <td>
                    <p style="font-family:'Fira Mono', monospace; font-size:20px;"> resume your learning path by
                        clicking below</p>

                </td>
            </tr>
            <tr>
                <td>
                    <span class='start-btn' onclick="start_from_beining();"
                        style="width:20% ; height:100% ; align-items: center;">START</span>
                </td>
                <td>
                    <span class='start-btn' onclick="get_current_task();"
                        style="width:20% ; height:100% ; align-items: center;">RESUME</span>
                </td>
            </tr>
        </table>


        </head>



        <!-- <div class="chat-popup" id="myForm">
        <iframe src='chatbot.html' width='600' height='350'> </iframe>
        
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </div> -->
        <!-- <p>Proper way to chat with this chatbot:</p>
        <ul style="list-style-type:disc">
          <li>1. Only ask General information about cybersecurity </li>
          <li>2. Long messages of our chatbot has no audio responses but still provide messages. This is a limitation of the software. </li>
         -->



        <!-- <p style="font-family:'Fira Mono', monospace; font-size:20px;">It was this howling and firing of the guns at Ripley and St. George's Hill that we had heard at Upper Halliford. The Ripley gunners, unseasoned artillery volunteers who ought never to have been placed in such a position, fired one wild, premature, ineffectual volley, and bolted on horse and foot through the deserted village, while the Martian, without using his Heat-Ray, walked serenely over their guns, stepped gingerly among them, passed in front of them, and so came unexpectedly upon the guns in Painshill Park, which he destroyed.</p> -->

    </div>

    <style>
        .video-game-button {
            text-shadow: 1px 1px pink, -1px -1px grey;
            line-height: 1.5em;
            text-align: center;
            display: inline-block;
            width: 60px;
            -webkit-border-radius: .75em;
            -moz-border-radius: .75em;
            -o-border-radius: .75em;
            border-radius: .75em;
            background-color: silver;
            -webkit-box-shadow: 0 .2em grey;
            -moz-box-shadow: 0 .2em grey;
            -o-box-shadow: 0 .2em grey;
            box-shadow: 0 .2em grey;
            color: silver;
            margin: 5px;
            background-color: silver;
            background-image: -o-linear-gradient(left top, pink 3%, silver 22%, grey 99%);
            background-image: -moz-linear-gradient(left top, pink 3%, silver 22%, grey 99%);
            background-image: -webkit-linear-gradient(left top, pink 3%, silver 22%, grey 99%);
            background-image: linear-gradient(left top, pink 3%, silver 22%, grey 99%);
            cursor: pointer;
            padding-left: 5px;
            bottom: 45px;
            right: 55px;
            position: fixed;

        }

        /* .video-game-button:active, .start-btn:active {
        box-shadow: none;
        position: fixed;
      
      }
      
      #display-image{
        vertical-align:middle;
        width: 60px;
        height: 60px;
        border-radius: 50%;
      } */
    </style>
    <style>
        #display-image {
            vertical-align: middle;
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    </style>
    <span class='video-game-button' onclick="openForm()"><img src="img/chatbot.gif"
            style="height: 50px;width: 50px;"></img></span>
    <script>
        function openForm() {
            var myWindow = window.open("chatbot.html", "", "width=500,height=1000");

        }

        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>



</body>

</html>