<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>

<body>
  <h1>Login Page</h1>
  <form action="/login" method="POST">
    <div class="error" style="background-color: red;"></div><br>
    <label for="user" >Username</label><br>
    <input type="text" name="user" id="user" required/><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" required><br>
    <input type="submit" value="login"><br>
    </form>
  <a href="/createUser">Don't have an account? Register</a>

</body>

</html>