<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create an Account</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap" rel="stylesheet">
</head>

<body>

  <h1>Join the Tron community</h1>
  <p>Create account</p>
  <form action="/createUser" method="POST">
    <fieldset>
      <legend>Required fields are followed by <abbr title="required">*</abbr>.</legend>
      <label for="user">Student Id*</label><br>
      <input type="text" name="user" id="user" placeholder="Enter your student id" required><br>
      <label for="password">Password*</label><br>
      <input type="password" name="password" id="password" placeholder="Enter your password" required><br>
      <label for="name">Full Name*</label><br>
      <input type="text" name="name" id="name" placeholder="Enter your name" required><br>
      <label for="email">University Email*</label> <br>
      <input type="email" name="email" id="email" placeholder="Enter your University email" required><br><br>
      <input type="checkbox" id="agree" checked required>
      <label for="agree">Agreed to terms and conditions</label><br><br>
      <input type="submit" value="register"><br>
    </fieldset>
  </form>
  <a href="/login">Already registered? Login</a>

</body>

</html>